.container-grid {
  width: 100%;
  position: relative;
  .container-grid-inner {
    width: 100%;
    max-width: 100vw;
    min-height: 450px;
    height: 70vh;
    margin-top: 0.5rem;
    padding-bottom: 5vh;
    box-sizing: content-box;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;

    @include breakpoint-up("medium") {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint-up("large") {
      max-width: 1200px;
      margin: auto;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.beneficio {
      min-height: 200px;
      height: 50vh;
      max-height: 3500px;
      display: flex;
      flex-flow: column;
    }
  }
}
