.slide-container {
  position: relative;

  @include breakpoint-up("medium") {
    padding-bottom: 3rem;
  }

  .slide-container-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: content-box;
    overflow-y: visible;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;

    @include breakpoint-up("large") {
      margin-left: 2rem;
    }

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}
