.product-section {
  background: linear-gradient(
    to bottom,
    transparent,
    transparent 78%,
    $lightBlue 78%,
    $lightBlue 100%
  );

  .container {
    .title-wrapper {
      p {
        margin: 0 2.5rem;
        font-size: 14px;
        font-weight: 500;

        @include breakpoint-up("medium") {
          font-size: 16px;
        }
      }
      h1 {
        margin: 0 2.5rem;
        font-weight: 700;
        font-size: 2rem;
        color: $lightBlue;
        @include breakpoint-up("medium") {
          font-size: 40px;
        }
      }
    }
  }
}
