.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.w-100 {
  width: 100% !important;
}
.bg-white {
  background: $white !important;
}
.no-scroll {
  overflow: hidden !important;
}
