.btn {
  display: block;
  cursor: pointer;
}

.btn-nav {
  background-color: transparent;
  border: none;
  transition: $t-150;

  &:hover {
    svg {
      width: 100%;
      height: 100%;

      g {
        line,
        path {
          stroke: $lightBlue;

          fill: $lightBlue;
        }
      }
    }
  }
}
.btn-slide-container {
  width: 48px;
  height: 96px;
  position: absolute;
  top: 50%;
  background-color: $white;
  color: $lightBlue;
  font-size: 12px;
  font-weight: 700;
  border: none;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

  @include breakpoint-up("medium") {
    width: 48px;
    height: 48px;
    border-radius: 0.5rem;
  }

  &.left {
    left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    @include breakpoint-up("medium") {
      top: 0;
    }
  }
  &.right {
    right: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    @include breakpoint-up("medium") {
      background-color: $lightBlue;
      top: 15px;
      right: 3rem;
      border-radius: 0.5rem !important;
      box-shadow: 0px 0px 4px 0px $lightBlue;
      color: $white;
    }
    @include breakpoint-up("large") {
      top: 40px;
      right: 5rem;
    }
  }
}
.btn-share {
  width: 296px;
  height: 48px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 14px;
  color: $white;
  border: none;
  border-radius: 0.5rem;
  transition: $t-150;

  &:hover {
    transform: scale(0.95);
  }

  &.twitter {
    background-color: #0da1f2;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  }
  &.facebook {
    background-color: #4267b2;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  }
}
.btn-beneficio {
  width: 328px;
  height: 48px;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 500;
  background-color: $white;
  color: $lightBlue;
  border: none;
  border-radius: 0.5rem;
  margin: 1rem auto;
  transition: $t-150;

  &:hover {
    background-color: #42bec2;
    color: $white;
    border: 1px solid #42bec2;
  }

  @include breakpoint-up("medium") {
    background-color: $lightBlue;
    position: absolute;
    top: -1px;
    right: 10rem;
    border-radius: 0.5rem !important;
    box-shadow: 0px 0px 4px 0px $lightBlue;
    color: $white;

    &:hover {
      background-color: $white;
      color: $lightBlue;
      border: none;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    }
  }
  @include breakpoint-up("large") {
    top: 24px;
  }
}
