.btn-nav {
  background-color: transparent;
  border: none;
}
.btn-carousel {
  width: 48px;
  height: 96px;
  position: absolute;
  top: 50%;
  background-color: $white;
  color: $lightBlue;
  font-size: 12px;
  font-weight: 700;
  border: none;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);

  @include breakpoint-up("medium") {
    width: 48px;
    height: 48px;
    border-radius: 0.5rem;
  }

  &.left {
    left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    @include breakpoint-up("medium") {
      top: 0;
    }
  }
  &.right {
    right: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    @include breakpoint-up("medium") {
      background-color: $lightBlue;
      top: 40px;
      right: 75px;
      border-radius: 0.5rem !important;
      box-shadow: 0px 0px 4px 0px $lightBlue;
      color: $white;
    }
  }
}
