.carousel {
  position: relative;

  .carousel-inner {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: content-box;
    overflow-y: visible;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;

    @include breakpoint-up("medium") {
      padding-bottom: 3rem;
    }

    @include breakpoint-up("large") {
      margin-left: 2rem;
      margin-top: 3rem;
    }

    &::-webkit-scrollbar {
      width: 0 !important;
    }

    .carousel-item {
      min-width: 300px;
      width: 80%;
      max-width: 312px;
      min-height: 400px;
      height: 65vh;
      max-height: 510px;
      margin-left: 1.5rem;
      cursor: pointer;

      @include breakpoint-up("large") {
        margin-left: 2rem;
      }

      &:last-of-type {
        margin-right: 1.5rem;

        @include breakpoint-up("large") {
          margin-right: 2rem;
        }
      }

      .product-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 1rem;
        overflow: hidden;

        .slider-card-img {
          display: block;
          overflow: hidden;

          img {
            width: auto;
            height: 100%;
          }
        }

        .slider-card-info {
          width: 100%;
          height: 20%;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: rgba(255, 255, 255, 0.5);

          h2 {
            font-size: 24px;
            font-weight: 500;
            margin: 1.25rem 2rem;
            color: $white;
          }
        }
      }
    }
  }
}
